BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AlwaysBreakAfterReturnType: None
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: false
